[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google-cloud-storage = "*"
django-storages = "*"
python-dotenv = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.12"
